/*Main Section*/
main{
    background: rgb(25,171,255);
    max-width: 100%;
    } 

  body{
    background-color: rgb(0,100,158);
    }

  /*Hero Section*/
  h1 {
    font-family: Anton ;
    text-align: center;
    color: rgb(158,91,0);
    background-color: rgb(25,171,255) ;
    max-width: 50%;

     }

  #header,#hero {
      font-family: "Roboto Condensed";
      text-align: center;
      color: rgb(158,91,0);
      max-width: 50%;

    } 
    
    header{
      background-color: rgb(25,171,255);

    }

  /* Bio and Hobby Section*/
  h2 {
    font-family: "Roboto Condensed";
    color: rgb(158,91,0);
    background-color: rgb(0,100,158) ;

  }


  ul{
      font-family: "Roboto Condensed";
      color: rgb(158,91,0);
    }

  /*Gallery*/
  #gallery img{
    max-width: 100%;
  }

  figcaption{

    font-family: "Roboto Condensed";
    color: rgb(158,91,0);
    text-align: left;
  }

 /*Copyright Section*/
  footer{
    background-color: rgb(25,171,255);
    text-align: center;

  }

  /*Article Section*/

  article{

    font-family: "Roboto Condensed";
    color: rgb(158,91,0);
    text-align: left;
    max-width: 100%;

  }




 